header
{
background-color: rgb(23, 32, 42);
width:100%;
heigth:100px;
}
section aside
{
background-color: rgb(23, 32, 42);
width:100%;
heigth:400px;
float:rigth;
}
section article
{
background-color: rgb(23, 32, 42);
width:100%;
heigth:400px;
float:rigth;

}
footer
{
background-color: rgb(23, 32, 42);
width:100%;
heigth:400px;
float:rigth;
clear:both;
}
img
{
height:200px;
float:left;
}
